<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>小松菜奈とあいみょんの顔分類アプリ</title>
    <link rel="stylesheet" href="./static/stylesheet.css">
</head>
<body>
    <header>   
        <!-- <img class="header_img" src="https://aidemyexstorage.blob.core.windows.net/aidemycontents/1621500180546399.png" alt="Aidemy"> -->
        <p class="header-logo">似ている2人を顔識別するアプリ</p>
    </header>

    <div class="main">    
        <h2> 小松菜奈 or あいみょんをAIが識別します</h2>
        <p>画像をアップロードしてください</p>
        <form method="POST" enctype="multipart/form-data">
            <input class="file_choose" type="file" name="file">
            <input class="btn" value="submit!" type="submit">
        </form>
        <div class="upimage answer"><img src="{{ gazou }}" alt="{{ gazou }}" width="300"><br/><strong>{{answer}}</strong></div>
        <!-- <div class="answer">{{answer}}</div> -->
    </div>

</body>
</html>
